* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: block;
  height: 100vh;
  width: 100%;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
}

.BackgroundImage {
  width: 100%;
  height: 100%;
  display: block;
}
